<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Restablecer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <h1 class="centrado">Restablecer Contraseña</h1>

      <ion-item>
        <ion-label position="stacked">Ingrese correo</ion-label>
        <ion-input position="stacked" type="email" placeholder="dominio@duocuc.cl"></ion-input>
      </ion-item>

      <ion-button expand="block">Aceptar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-img src= "../../../assets/img/1280px-Logo_DuocUC.svg.png"fixed="true"></ion-img>
</ion-footer>