<ion-header >
  <ion-toolbar>
    <ion-title>registro-usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card>
  <ion-card-content>
    <form [formGroup]="usuario" (ngSubmit)="contraIguale()">
      <ion-item>
        <ion-input fromControlName="rut" label="Rut:" labelPlacement="stacked" placeholder="Ingrese rut" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input fromControlName="nombre" label="Nombre:"  labelPlacement="stacked" placeholder="Ingrese nombre" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input fromControlName="correo" label="Correo:" labelPlacement="stacked" placeholder="Ingrese Correo" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input fromControlName="fecha_nacimiento:" label="Fecha de nacimiento" labelPlacement="stacked" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input fromControlName="clave" label="Contraseña:" labelPlacement="stacked" placeholder="Ingrese Contraseña" type="password" [counter]="true" maxLength="20"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input fromControlName="clave2" label="Ingrese contraseña nuevamente:" labelPlacement="stacked" placeholder="Ingrese Contraseña" type="password" [counter]="true" maxLength="20" ></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" color="success">Crear usuario</ion-button>
      
      

    </form>
    
  </ion-card-content>

</ion-card>
</ion-content>
<ion-footer>
  <ion-img src= "../../../assets/img/1280px-Logo_DuocUC.svg.png"fixed="true"></ion-img>
</ion-footer>